*.[oa]
*.l[oa]
.deps
.libs
*.pyc
*.rb-plugin

autom4te*.cache
stamp-h
stamp-h.in
stamp-h1
libtool
ltmain.sh
intltool*
compile
confdefs.h
configure
config.*
aclocal.m4
Makefile
Makefile.in
install-sh
missing
mkinstalldirs
py-compile
INSTALL
depcomp
gtk-doc.make
gnome-doc-utils.make
rhythmbox.pc

#
bindings/python/rb.c
bindings/python/rhythmdb.c

#
org.gnome.Rhythmbox.service
*.desktop
rhythmbox.desktop.in
rhythmbox-device.desktop.in
playlists.xml

#
help/*.omf
help/*/*.mo
help/*/rhythmbox.xml

#
lib/rb-marshal.c
lib/rb-marshal.h
lib/*-inline.h

#
macros/*.m4

#
metadata/rhythmbox-metadata
metadata/test-metadata

#
plugins/audiocd/sj-metadata-marshal.c
plugins/audiocd/sj-metadata-marshal.h
plugins/daap/rb-daap-glue.h
plugins/sample-vala/rb-sample-vala-plugin.c
plugins/sample-vala/rb-sample-vala-plugin.h
plugins/sample-vala/libsample_vala_la_vala.stamp
plugins/visualizer/rb-visualizer-glue.h

#
po/*.gmo
po/*.mo
po/*.pot
po/Makefile.in.in
po/POTFILES
po/missing
po/notexist
po/stamp-it
po/.intltool-merge-cache

#
podcast/test-podcast-parse

#
remote/dbus/rhythmbox-client

#
shell/*.tab
shell/rhythmbox
shell/rb-shell-glue.h
shell/rb-shell-player-glue.h
shell/rb-playlist-manager-glue.h
shell/rb-shell-binding.h
shell/rb-shell-player-binding.h

#
tests/bench-rhythmdb-load
tests/test-rb-lib
tests/test-file-helpers
tests/test-rhythmdb
tests/test-rhythmdb-property-model
tests/test-rhythmdb-query-model
tests/test-audioscrobbler
tests/test-widgets

#
doc/reference/tmpl/*.sgml
doc/reference/tmpl/*.sgml.bak
doc/reference/*.stamp
doc/reference/html/
doc/reference/xml/
doc/reference/rhythmbox-decl*
doc/reference/rhythmbox-undeclared.txt
doc/reference/rhythmbox-undocumented.txt
doc/reference/rhythmbox-unused.txt
doc/reference/rhythmbox.args
doc/reference/rhythmbox.hierarchy
doc/reference/rhythmbox.interfaces
doc/reference/rhythmbox.prerequisites
doc/reference/rhythmbox.signals

#
widgets/test-rb-segmented-bar
