*.[oa]
*.l[oa]
.deps
.libs
*.pyc
*.plugin
cscope.out
*.ui~

autom4te*.cache
stamp-h
stamp-h.in
stamp-h1
libtool
ltmain.sh
intltool*
compile
confdefs.h
configure
config.*
aclocal.m4
Makefile
Makefile.in
install-sh
missing
mkinstalldirs
py-compile
INSTALL
depcomp
gtk-doc.make
gnome-doc-utils.make
rhythmbox.pc
ABOUT-NLS

#
bindings/gi/MPID-3.0.gir
bindings/gi/MPID-3.0.typelib
bindings/gi/RB-3.0.gir
bindings/gi/RB-3.0.typelib

#
org.gnome.Rhythmbox3.service
*.desktop
org.gnome.Rhythmbox3.desktop.in
org.gnome.Rhythmbox3.device.desktop.in
playlists.xml
gschemas.compiled
org.gnome.rhythmbox.gschema.valid

#
help/*.omf
help/*/*.mo
help/*/rhythmbox.xml
help/*/index.docbook
help/*/legal.xml
help/*/fdl-appendix.xml
help/*/*.stamp

#
lib/*-inline.h

#
m4/*.m4

#
metadata/rhythmbox-metadata
metadata/test-metadata

#
plugins/audiocd/sj-metadata-marshal.c
plugins/audiocd/sj-metadata-marshal.h
plugins/daap/rb-daap-glue.h

#
sample-plugins/sample-vala/rb-sample-vala-plugin.c
sample-plugins/sample-vala/rb-sample-vala-plugin.h
sample-plugins/sample-vala/libsample_vala_la_vala.stamp

#
po/*.gmo
po/*.mo
po/*.pot
po/Makefile.in.in
po/POTFILES
po/missing
po/notexist
po/stamp-it
po/.intltool-merge-cache
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin

#
podcast/test-podcast-parse
podcast/test-podcast-search

#
remote/dbus/rhythmbox-client

#
shell/*.tab
shell/rhythmbox
shell/rb-shell-glue.h
shell/rb-shell-player-glue.h
shell/rb-playlist-manager-glue.h
shell/rb-shell-binding.h
shell/rb-shell-player-binding.h
shell/rb-resources.c

#
test-driver
tests/bench-rhythmdb-load
tests/test-rb-lib
tests/test-file-helpers
tests/test-rhythmdb
tests/test-rhythmdb-property-model
tests/test-rhythmdb-query-model
tests/test-audioscrobbler
tests/test-widgets
tests/*.trs
tests/*.log
tests/*-resources.c

#
doc/reference/tmpl/*.sgml
doc/reference/tmpl/*.sgml.bak
doc/reference/*.stamp
doc/reference/html/
doc/reference/xml/
doc/reference/rhythmbox-decl*
doc/reference/rhythmbox-undeclared.txt
doc/reference/rhythmbox-undocumented.txt
doc/reference/rhythmbox-unused.txt
doc/reference/rhythmbox.args
doc/reference/rhythmbox.hierarchy
doc/reference/rhythmbox.interfaces
doc/reference/rhythmbox.prerequisites
doc/reference/rhythmbox.signals

#
widgets/test-rb-segmented-bar
widgets/test-uri-dialog

plugins/audiocd/test-cd
plugins/rb/rbconfig.py
plugins/*/*-resources.c

data/rhythmbox.appdata.xml
