image: ubuntu:jammy

stages:
  - test

variables:
  UBUNTU_DEPS:
    build-essential
    desktop-file-utils
    gettext
    pkg-config
    libgtk-3-dev
    libgtk-4-bin
    libgstreamer1.0-dev
    libgstreamer-plugins-base1.0-dev
    libgdk-pixbuf2.0-dev
    libglib2.0-dev
    libgpod-dev
    libtotem-plparser-dev
    libsoup-3.0-dev
    libgudev-1.0-dev
    libmtp-dev
    libnotify-dev
    libbrasero-media3-dev
    libsecret-1-dev
    libpeas-dev
    yelp-tools
    x11proto-core-dev
    liblircclient-dev
    python3-dev
    python-gi-dev
    libjson-glib-dev
    libgrilo-0.3-dev
    libxml2-dev
    libtdb-dev
    python3-pip
    ninja-build
    check
    valac
    xvfb

  MESON_ARGS:
    -Dprefix=/usr
    -Dfm_radio=disabled
    -Dplugins_python=enabled
    -Dlibnotify=enabled
    -Dgrilo=enabled
    -Dgudev=enabled
    -Dipod=enabled
    -Dlibsecret=enabled
    -Dmtp=enabled
    -Dlirc=enabled
    -Dsample-plugins=true
    -Dgtk_doc=true
    -Dhelp=true
    -Dtests=enabled

before_script:
  - export DEBIAN_FRONTEND=noninteractive
  - apt-get update
  - apt-get install -y $UBUNTU_DEPS
  - pip3 install meson

test:
  stage: test
  script:
    - mkdir _build
    - cd _build
    - meson .. $MESON_ARGS
    - ninja
    - G_MESSAGES_DEBUG=all xvfb-run -a -s "-screen 0 1024x768x24" meson test
    - ninja install
  artifacts:
    when: always
    name: "rhythmbox-${CI_COMMIT_REF_NAME}"
    paths:
      - "${CI_PROJECT_DIR}/_build/meson-logs"
      - "${CI_PROJECT_DIR}/_build/meson-dist"
