.sidebar-toolbar {
	border-width: 0 0 1px 0;
	border-radius: 0;
}

.primary-toolbar {
	border-width: 1px 0 1px;
	border-style: solid;
	border-top-color: shade(@borders, 0.95);
	border-bottom-color: shade(@borders, 1.2);
}
